In [1]:
import pandas as pd

In [2]:
PATH = "../data/isd/isd-history_w_header.txt"

# df = pd.read_csv(PATH, delim_whitespace=True, header=None)
# df = pd.read_csv(PATH, delimiter=r"\s+")
# data.columns = ['USAF','WBAN','STATION','NAME','CTRY','ST','CALL','LAT','LON','ELEV(M)','BEGIN','END']

In [3]:
colspecs=[[0,7], [7,13], [13,43], [43,48], [48,51], [51,57], [57,65], [65,74], [74,82], [82,91], [91,100]]
df = pd.read_fwf(PATH, colspecs=colspecs, header=0)

In [4]:
df.head()

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,007018,99999,WXPOD 7018,NaN,NaN,NaN,0.00,0.000,7018.0,20110309,20130730
1,007026,99999,WXPOD 7026,AF,NaN,NaN,0.00,0.000,7026.0,20120713,20170822
2,007070,99999,WXPOD 7070,AF,NaN,NaN,0.00,0.000,7070.0,20140923,20150926
3,008260,99999,WXPOD8270,NaN,NaN,NaN,0.00,0.000,0.0,19960101,20100731
4,008268,99999,WXPOD8278,AF,NaN,NaN,32.95,65.567,1156.7,20100519,20120323

In [5]:
df.tail()

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
29767,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,KY51,43.579,-90.913,394.1,20140731,20190314
29768,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF,US,MN,KY63,45.986,-95.992,367.3,20140731,20190315
29769,A07359,240,IONIA COUNTY AIRPORT,US,MI,KY70,42.938,-85.061,249.0,20140731,20190314
29770,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,KDYA,32.464,-87.954,34.1,20140731,20190314
29771,A51256,451,BRANSON WEST MUNICIPAL EMERSO,US,MO,KFWB,36.699,-93.402,411.2,20140731,20190314

In [6]:
df_cali = df[(df['CTRY']=='US')&(df['ST']=='CA')]
len(df_cali)

506

In [9]:
df.to_csv('../data/isd/isd_station.csv', index=False)

In [10]:
df_cali.isnull().values.any()

True

In [11]:
df_cali.isnull().T.any().T.sum()

166

In [12]:
nan_rows = df_cali[df_cali.isnull().T.any().T]

In [13]:
nan_rows

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
14481,690169,99999,TUSTIN MCAS,US,CA,NaN,33.700,-117.830,17.0,19960101,19961231
14511,690584,99999,LZ BULL / EXERCISE,US,CA,NaN,33.067,-115.067,230.1,19990602,20010606
14564,691224,99999,AFWA ASSIGNED,US,CA,KQAM,NaN,NaN,NaN,19781028,20040730
14583,691414,99999,SPEED BAG AIRFIELD,US,CA,NaN,33.267,-115.417,93.0,19850424,19971123
14809,693654,99999,NTC MOBILE,US,CA,NaN,0.000,0.000,0.0,19810221,20001019
14874,695414,99999,RED PASS LAKE / NTC,US,CA,NaN,35.267,-116.367,683.1,20010319,20080611
14876,695424,99999,AFWA ASSIGNED,US,CA,KQNM,NaN,NaN,NaN,20011101,20020820
17109,720165,99999,WARNER SPRINGS GLIDERPORT,US,CA,NaN,34.264,-116.854,2056.8,20070307,20130430
17554,720615,99999,COLUMBIA,US,CA,NaN,38.030,-120.415,645.6,20100301,20180515
17801,720935,99999,PETALUMA MUNI,US,CA,NaN,38.258,-122.606,26.5,20110517,20130430
17900,721027,99999,TRINITY CENTER,US,CA,NaN,40.983,-122.694,728.5,20120302,20130430
18794,722859,99999,DANA POINT,US,CA,NaN,33.450,-117.680,15.0,19840607,19960630
18797,722864,99999,BIG BEAR CITY ARPT,US,CA,NaN,34.267,-116.850,2057.0,19801202,19840614
18811,722883,99999,HERMOSA BEACH PIER,US,CA,NaN,33.870,-118.400,8.0,19770827,19960630
18812,722884,99999,SANTA MONICA PIER,US,CA,NaN,34.000,-118.500,2.0,19770827,19960630
18827,722898,99999,ANACAPA ISLAND,US,CA,NaN,34.020,-119.370,42.0,19780407,19870919
18831,722901,99999,SAN DIEGO/MONTGOMER,US,CA,NaN,32.817,-117.133,129.0,19730101,19900206
18837,722905,99999,POINT LOMA / CABRILLO,US,CA,NaN,32.670,-117.480,111.0,19760130,19960630
18841,722908,99999,EL TORO(USMC),US,CA,NaN,33.667,-117.733,117.0,19730101,19890112
18845,722913,99999,MARINA DEL REY,US,CA,NaN,33.970,-118.430,8.0,19771005,19960630
18846,722914,99999,MISSION BEACH,US,CA,NaN,32.770,-117.230,2.0,19780823,19960701
18848,722916,99999,MALIBU BEACH,US,CA,NaN,34.030,-118.680,139.0,19780823,19820702
18849,722917,99999,LONG BEACH,US,CA,NaN,33.770,-118.170,3.0,19780823,19820427
18850,722919,99999,SOLANA BEACH,US,CA,NaN,32.980,-117.270,5.0,19831106,19960630
18853,722923,99999,CAMP PENDLETON MCAS,US,CA,NaN,33.300,-117.350,19.0,19770317,19780206
18854,722924,99999,SANTA CATALINA ISLAND,US,CA,NaN,33.330,-118.330,3.0,19770827,19960630
18862,722929,99999,OCEANSIDE HARBOR,US,CA,NaN,33.220,-117.400,9.0,19770827,19960630
18866,722933,99999,SAN CLEMENTE,US,CA,NaN,33.420,-117.620,3.0,19810506,19960630
18869,722935,99999,EL CAPITAN BEACH,US,CA,NaN,34.467,-120.033,27.0,19880107,19960630
18873,722954,99999,ZUMA BEACH,US,CA,NaN,34.020,-118.820,6.0,19770827,19960630
...,...,...,...,...,...,...,...,...,...,...,...
28364,998478,99999,PITTSBURG (SUISUN BAY),US,CA,NaN,38.042,-121.887,10.0,20180101,20180425
28365,998479,99999,SAN FRANCISCO (PIER 1),US,CA,NaN,37.798,-122.393,10.0,20180101,20180425
28380,998496,99999,OAKLAND,US,CA,NaN,37.795,-122.288,4.0,20180101,20180425
28460,999999,3122,TORRANCE AIRPORT,US,CA,NaN,33.802,-118.342,27.4,19530525,19540326
28463,999999,3129,MOJAVE MCAS,US,CA,NaN,35.050,-118.167,842.5,19551003,19581001
28471,999999,3174,ZAMPERINE FIELD AIRPORT,US,CA,NaN,33.800,-118.333,29.6,20040702,20051231
28549,999999,4222,REDDING 12 WNW,US,CA,NaN,40.651,-122.607,432.2,20030326,20190313
29037,999999,23172,INDIO COACHELLA,US,CA,NaN,33.683,-116.167,-20.1,19481101,19500508
29042,999999,23178,MOUNT LAGUNA CAA AP,US,CA,NaN,32.867,-116.417,1893.1,19490101,19500224
29044,999999,23180,NEWHALL AP,US,CA,NaN,34.400,-118.550,370.0,19480901,19490801
29054,999999,23192,SILVER LAKE CAA AP,US,CA,NaN,35.333,-116.083,281.0,19481101,19500731
29062,999999,23226,DONNER SUMMIT,US,CA,NaN,39.317,-120.333,2194.0,19481101,19520131
29067,999999,23236,SANTA MARIA HANCOCK FIELD,US,CA,NaN,34.933,-120.417,71.0,19480101,19541021
29069,999999,23238,WILLIAMS CAA AIRPORT,US,CA,NaN,39.100,-122.150,39.0,19481101,19521230
29072,999999,23242,LIVERMORE NAS,US,CA,NaN,37.683,-121.700,196.9,19450201,19460811
29075,999999,23246,SANTA ROSA NAAS,US,CA,NaN,38.417,-122.750,42.1,19450301,19470416
29078,999999,23271,DOWNTOWN,US,CA,NaN,38.555,-121.418,11.6,19960702,20190305
29079,999999,23272,DOWNTOWN,US,CA,NaN,37.771,-122.427,45.7,19450101,20190305
29405,999999,53139,STOVEPIPE WELLS 1 SW,US,CA,NaN,36.602,-117.145,25.6,20040504,20190313
29407,999999,53150,YOSEMITE VILLAGE 12 W,US,CA,NaN,37.759,-119.821,2017.8,20070928,20190313
29408,999999,53151,FALLBROOK 5 NE,US,CA,NaN,33.439,-117.190,347.5,20080430,20190313
29409,999999,53152,SANTA BARBARA 11 W,US,CA,NaN,34.414,-119.880,5.5,20080814,20190313
29545,999999,93108,MOJAVE MCAS,US,CA,NaN,35.117,-118.150,841.9,19450401,19470101
29547,999999,93113,SAN PEDRO NAS,US,CA,NaN,33.750,-118.250,13.1,19450301,19470601
29551,999999,93118,SALTON SEA NAAF,US,CA,NaN,33.200,-115.833,-68.9,19450401,19451101
29552,999999,93120,THERMAL NAF,US,CA,NaN,33.617,-116.167,-36.0,19450401,19450801
29555,999999,93124,SANTA BARBARA MCAS,US,CA,NaN,34.433,-119.850,4.0,19450401,19460301
29566,999999,93215,POINT ARGUELLO AFWB,US,CA,NaN,34.667,-120.583,111.9,19590701,19650401
29570,999999,93243,MERCED 23 WSW,US,CA,NaN,37.238,-120.883,23.8,20040325,20190312
29571,999999,93245,BODEGA 6 WSW,US,CA,NaN,38.321,-123.075,19.2,20080614,20190312

In [14]:
# remove station without either LAT or LON
df_cali = df_cali[pd.notnull(df_cali['LAT'])]
df_cali = df_cali[pd.notnull(df_cali['LON'])]
len(df_cali)

504

In [15]:
df_cali.to_csv('../data/isd/isd_station_cali.csv', index=False)