In [1]:
import pandas as pd

In [3]:
PATH = "../data/isd/724917-23233-2008.txt"

In [4]:
colspecs=[[1,4], [6,7], [9,11], [12,13], [14,19], [20,24], [26,31], [32,37], [38,43], [44,49], [50,55], [56, 61]]
# df = pd.read_fwf(PATH, colspecs=colspecs, header=0)
columns = ['year','month','day','hour','air_temperature','dewpoint_temperature','sea_level_pressure','wind_direction','wind_speed_rate','sky_condition','precipitation_one_hour','precipitation_six_hour']
df = pd.read_fwf(PATH, names=columns)  # colspecs = 'infer'

In [5]:
df.head()

,year,month,day,hour,air_temperature,dewpoint_temperature,sea_level_pressure,wind_direction,wind_speed_rate,sky_condition,precipitation_one_hour,precipitation_six_hour
0,2008,1,1,1,133,-28,10226,60,36,0,0,-9999
1,2008,1,1,2,122,-39,10229,90,41,0,0,-9999
2,2008,1,1,3,106,-44,10233,50,21,0,0,-9999
3,2008,1,1,4,89,-39,10238,20,21,0,0,-9999
4,2008,1,1,5,83,-11,10237,90,51,0,0,-9999